<div class="intro">
	<h1>
		Revelation
	</h1>
	<p>
		<a href="explanation.html">Explanation</a>
	</p>
	<p>
		<small>
			<Link parameters="{{toggledTranslationParameters}}">
			{{#if currentTranslation === translations.greek}}
				English
			{{else}}
				Greek
			{{/if}}
			</Link>
		</small>
	</p>
</div>

<div class="text-body" data-chiasm-selected="{{!!currentChiasm}}">
	{{#each structuredText as section}}
		<div
			class="chiasm-section"
			data-is-selected="{{!!currentChiasm && currentChiasm === section.identifier}}"
		>
			{{#if subsectionIsSelected}}
				<div class="color-bar">
					{{sectionLabel(section)}}
				</div>
			{{else}}
			<Link
				className="color-bar chiasm-color-bar"
				style="background-color: {{chiasmColorBarColor(section.identifier)}}"
				parameters="{{ getLinkParameters(section.identifier) }}"
			>
				{{sectionLabel(section)}}
			</Link>
			{{/if}}
			<div class="section-body">
				{{#if !currentSubsection}}
				<SectionLine
					description="{{section.description}}"
					contentClass="section-content-description-directly-below"
					descriptionClass="header-margin"
					anchor="{{sectionIsVisible(section) && section.anchor}}"
					siblingAnchor="{{section.siblingAnchor}}"
					siblingIsDown="{{section.siblingIsDown}}"
				>
					<h1 style="color: {{getChiasmColor(section.identifier)}}">
						{{section.title}}
					</h1>
				</SectionLine>
				{{/if}}

				{{#if section.introduction}}
					{{#if section.introduction.subsections}}
						<Subsections
							subsections="{{section.introduction.subsections}}"
							chiasmIdentifier="{{section.identifier}}"
							currentSubsection="{{currentSubsection}}"
							verses="{{extractRangeFromVerses(section.verses, section.introduction.range)}}"
							showColorBar="{{!!currentChiasm}}"
							useAnchors="{{sectionIsVisible(section)}}"
						/>
					{{elseif !currentSubsection || currentSubsection === 'introduction'}}
						<SectionLine
							description="{{section.introduction.title}}"
							chiasmIdentifier="{{section.identifier}}"
							sectionIdentifier="introduction"
							zoomedIn="{{subsectionIsSelected}}"
							showColorBar="{{!!currentChiasm}}"
							anchor="{{sectionIsVisible(section) && section.introduction.anchor}}"
							siblingAnchor="{{section.introduction.siblingAnchor}}"
							siblingIsDown="{{section.introduction.siblingIsDown}}"
							range="{{section.introduction.range}}"
						>
							<Paragraphs verses="{{extractRangeFromVerses(section.verses, section.introduction.range)}}" />
						</SectionLine>
					{{/if}}
				{{/if}}

				{{#if section.subsections}}
					<Subsections
						subsections="{{section.subsections}}"
						chiasmIdentifier="{{section.identifier}}"
						currentSubsection="{{currentSubsection}}"
						verses="{{extractRangeFromVerses(section.verses, section.range)}}"
						showColorBar="{{!!currentChiasm}}"
						useAnchors="{{sectionIsVisible(section)}}"
					/>
				{{elseif !currentSubsection}}
					<SectionLine range="{{section.range}}">
						<Paragraphs verses="{{extractRangeFromVerses(section.verses, section.range)}}" />
					</SectionLine>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>

<style>
[data-chiasm-selected=true] [data-is-selected=false] {
	display: none;
}

[data-chiasm-selected=true] [data-is-selected=true] {
	margin-bottom: 20px;
}

[data-chiasm-selected=true] .chiasm-color-bar {
	color: #7d7d7d;
	border-radius: .2rem;
}
</style>

<script>
const Paragraphs = require('component/paragraphs.html')
const Subsections = require('component/subsections.html')
const SectionLine = require('component/section-line.html')

const { Link } = require('lib/router-instance')

const structure = require('lib/structure')
const sectionLabel = require('lib/section-label')
const extractRangeFromVerses = require('lib/extract-range-from-verses')
const getChiasmColor = require('lib/identifier-color')
const combineStructureAndVerses = require('lib/combine-structure-and-verses')
const getParametersWithTranslationToggled = require('lib/toggle-translation-parameter')

export default {
	computed: {
		toggledTranslationParameters: (querystringParameters) => {
			return querystringParameters
				? getParametersWithTranslationToggled(querystringParameters)
				: {}
		},
		currentChiasm: querystringParameters => {
			return querystringParameters && querystringParameters.chiasm
		},
		currentSubsection: querystringParameters => {
			return querystringParameters && querystringParameters.section
		},
		subsectionIsSelected: currentSubsection => !!currentSubsection,
		getLinkParameters: currentChiasm => {
			return chiasmIdentifier => {
				return currentChiasm === chiasmIdentifier
					? {}
					: { chiasm: chiasmIdentifier }
			}
		},
		chiasmColorBarColor(currentChiasm) {
			if (currentChiasm) {
				return () => '#d8d8d8'
			} else {
				return getChiasmColor
			}
		},
		currentTranslation: (querystringParameters, translations) => {
			return querystringParameters && querystringParameters.translation === 'greek'
				? translations.greek
				: translations.english
		},
		structuredText: currentTranslation => {
			return combineStructureAndVerses(structure, currentTranslation)
		},
		sectionIsVisible: currentChiasm => {
			return section => !currentChiasm || currentChiasm === section.identifier
		}
	},
	components: {
		Paragraphs,
		Subsections,
		SectionLine,
		Link
	},
	helpers: {
		extractRangeFromVerses,
		sectionLabel,
		getChiasmColor
	}
}
</script>
