<div data-chiasm-selected="{{!!currentChiasm}}">
	{{#each structuredText as outerChiasm}}
		<div
			class="chiasm-section"
			data-is-selected="{{currentChiasm && currentChiasm === outerChiasm.identifier}}"
		>
			<Link
				className="color-bar chiasm-color-bar"
				style="background-color: {{chiasmColorBarColor(outerChiasm.identifier)}}"
				parameters="{{ getLinkParameters(outerChiasm.identifier) }}"
			>
			</Link>
			<div class="section-body">
				{{#if !currentSubsection}}
				<SectionLine description="{{outerChiasm.description}}" descriptionClass="header-margin">
					<h1 style="color: {{chiasmColorBarColor(outerChiasm.identifier)}}">
						{{outerChiasm.title}}
					</h1>
				</SectionLine>
				{{/if}}

				{{#if outerChiasm.introduction}}
					{{#if outerChiasm.introduction.subsections}}
						<Subsections
							subsections="{{outerChiasm.introduction.subsections}}"
							chiasmIdentifier="{{outerChiasm.identifier}}"
							currentSubsection="{{currentSubsection}}"
							verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.introduction.range)}}"
							showColorBar="{{!!currentChiasm}}"
						/>
					{{elseif !currentSubsection || currentSubsection === 'introduction'}}
						<SectionLine
							description="{{outerChiasm.introduction.title}}"
							chiasmIdentifier="{{outerChiasm.identifier}}"
							sectionIdentifier="introduction"
							zoomedIn="currentSubsection === 'introduction'"
							showColorBar="{{!!currentChiasm}}"
							anchor="{{outerChiasm.introduction.anchor}}"
							siblingAnchor="{{outerChiasm.introduction.siblingAnchor}}"
							siblingIsDown="{{outerChiasm.introduction.siblingIsDown}}"
						>
							<Paragraphs verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.introduction.range)}}" />
						</SectionLine>
					{{/if}}
				{{/if}}

				{{#if outerChiasm.subsections}}
					<Subsections
						subsections="{{outerChiasm.subsections}}"
						chiasmIdentifier="{{outerChiasm.identifier}}"
						currentSubsection="{{currentSubsection}}"
						verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.range)}}"
						showColorBar="{{!!currentChiasm}}"
					/>
				{{elseif !currentSubsection}}
					<SectionLine>
						<Paragraphs verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.range)}}" />
					</SectionLine>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>

<style>
[data-chiasm-selected=true] [data-is-selected=false] {
	display: none;
}

[data-chiasm-selected=true] [data-is-selected=true] {
	margin-bottom: 20px;
}

[data-chiasm-selected=true] .chiasm-color-bar {
	color: #7d7d7d;
}
</style>

<script>
const Paragraphs = require('component/paragraphs.html')
const Subsections = require('component/subsections.html')
const SectionLine = require('component/section-line.html')

const { Link } = require('lib/router-instance')

const extractRangeFromVerses = require('lib/extract-range-from-verses')
const getChiasmColor = require('lib/identifier-color')

export default {
	computed: {
		currentChiasm: querystringParameters => {
			return querystringParameters && querystringParameters.chiasm
		},
		currentSubsection: querystringParameters => {
			return querystringParameters && querystringParameters.section
		},
		getLinkParameters: currentChiasm => {
			return chiasmIdentifier => {
				return currentChiasm === chiasmIdentifier
					? {}
					: { chiasm: chiasmIdentifier }
			}
		},
		chiasmColorBarColor(currentChiasm) {
			if (currentChiasm) {
				return () => '#d8d8d8'
			} else {
				return getChiasmColor
			}
		}
	},
	components: {
		Paragraphs,
		Subsections,
		SectionLine,
		Link
	},
	helpers: {
		extractRangeFromVerses
	}
}
</script>
