<div data-chiasm-selected="{{!!currentChiasm}}">
	{{#each structuredText as outerChiasm}}
		<div
			class="chiasm-section"
			data-is-selected="{{currentChiasm && currentChiasm === outerChiasm.identifier}}"
		>
			<div
				class="section-color-bar"
				style="background-color: {{getChiasmColor(outerChiasm.identifier)}}"
				on:click="setChiasm(outerChiasm.identifier)"
			>
			</div>
			<div class="section-body">
				<SectionLine description="{{outerChiasm.description}}" descriptionClass="header-margin">
					<h1 style="color: {{getChiasmColor(outerChiasm.identifier)}}">
						{{outerChiasm.title}}
					</h1>
				</SectionLine>

				{{#if outerChiasm.introduction}}
					{{#if outerChiasm.introduction.subsections}}
						<Subsections
							subsections="{{outerChiasm.introduction.subsections}}"
							verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.introduction.range)}}"
							useColor="{{!!currentChiasm}}"
						/>
					{{else}}
						<SectionLine description="{{outerChiasm.introduction.title}}">
							<Paragraphs verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.introduction.range)}}" />
						</SectionLine>
					{{/if}}
				{{/if}}

				{{#if outerChiasm.subsections}}
					<Subsections
						subsections="{{outerChiasm.subsections}}"
						verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.range)}}"
						useColor="{{!!currentChiasm}}"
					/>
				{{else}}
					<SectionLine>
						<Paragraphs verses="{{extractRangeFromVerses(outerChiasm.verses, outerChiasm.range)}}" />
					</SectionLine>
				{{/if}}
			</div>
		</div>
	{{/each}}
</div>

<style>
.chiasm-section {
	display: flex;
}

.section-body {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}

.section-color-bar {
	width: 50px;
	flex-shrink: 0;
	cursor: pointer;
}

[data-chiasm-selected=true] [data-is-selected=false] {
	display: none;
}

[data-chiasm-selected=true] [data-is-selected=true] {
	margin-bottom: 20px;
}
</style>

<script>
const Paragraphs = require('component/paragraphs.html')
const Subsections = require('component/subsections.html')
const SectionLine = require('component/section-line.html')

const extractRangeFromVerses = require('lib/extract-range-from-verses')
const getChiasmColor = require('lib/chiasm-color')

export default {
	data() {
		return {

		}
	},
	components: {
		Paragraphs,
		Subsections,
		SectionLine
	},
	methods: {
		setChiasm(identifier) {
			const currentChiasm = this.get('currentChiasm')

			const newChiasm = currentChiasm === identifier ? null : identifier

			this.set({ currentChiasm: newChiasm })
		}
	},
	helpers: {
		getChiasmColor,
		extractRangeFromVerses
	}
}
</script>
