{{#if anchor}}<a id="{{anchor}}"></a>{{/if}}
<div class="section-line" data-zoomed-in="{{zoomedIn}}" data-visible="{{visible}}">
	{{#if sectionIdentifier && showColorBar}}
	<Link
		className="color-bar paragraph-margin"
		style="background-color: {{getChiasmColor(sectionIdentifier)}}"
		parameters="{{ linkParameters }}"
	>
	</Link>
	{{else}}
	<div class="color-bar paragraph-margin"></div>
	{{/if}}

	<div class="section-text">
		{{yield}}
	</div>
	<div class="section-description {{descriptionClass}}">
		{{#if siblingAnchor}}
			<a
				href="#{{siblingAnchor}}"
				class="sibling-link everblue"
			>
				{{#if siblingIsDown}}&#8609;{{else}}&#8607;{{/if}}
			</a>
		{{/if}}
		{{description || ''}}

		{{#if range}}<small><VerseRange range="{{range}}" /></small>{{/if}}
	</div>
</div>

<style>
[data-zoomed-in=true] .color-bar {
	opacity: 0.5;
}

.sibling-link {
	text-decoration: none;
}

[data-visible=false] {
	display: none;
}

small {
	font-size: small;
	color: #a9a9a9;
	display: block;
}

</style>

<script>
const getChiasmColor = require('lib/identifier-color')
const { Link } = require('lib/router-instance')
const VerseRange = require('component/verse-range.html')

export default {
	data() {
		return {
			descriptionClass: 'paragraph-margin',
			chiasmIdentifier: null,
			sectionIdentifier: null,
			zoomedIn: false,
			showColorBar: true,
			visible: true,
		}
	},
	components: {
		Link,
		VerseRange
	},
	computed: {
		linkParameters: (chiasmIdentifier, sectionIdentifier, zoomedIn) => {
			return zoomedIn
				? { chiasm: chiasmIdentifier }
				: { chiasm: chiasmIdentifier, section: sectionIdentifier }
		}
	},
	helpers: {
		getChiasmColor
	}
}
</script>
