{{#each subsectionsWithVerses as subsection}}
<SectionLine
	description="{{subsection.title}}"
	chiasmIdentifier="{{chiasmIdentifier}}"
	sectionIdentifier="{{subsection.identifier}}"
	zoomedIn="{{!!currentSubsection}}"
	showColorBar="{{showColorBar}}"
>
	<Paragraphs
		verses="{{subsection.verses}}"
	/>
</SectionLine>
{{/each}}

<script>
const combineStructureAndVerses = require('lib/combine-structure-and-verses')

const Paragraphs = require('component/paragraphs.html')
const SectionLine = require('component/section-line.html')

export default {
	components: {
		Paragraphs,
		SectionLine
	},
	computed: {
		subsectionsWithVerses(subsections, verses, currentSubsection) {
			const displaySubsections = combineStructureAndVerses(subsections, verses)

			if (currentSubsection) {
				return displaySubsections.filter(subsection => {
					return subsection.identifier === currentSubsection
				})
			}

			return displaySubsections
		}
	}
}
</script>
